<html>
	<head>
	<style>
		
	@media only screen and (max-width: 600px) {
	  .eyrc_ckt{
			display:none;
		}
	}

	</style>
	</head>
	<body>
		<div>
		<center></center>
			<div style="display:flex; justify-content:space-between;padding:10px;padding-top:0">
				<div >
					<img src="http://mooc.e-yantra.org/img/eYantra_logo.svg" alt="e-yantra_logo" height="40px" style="padding:10px 15px;" />
				</div>
				<div>
					<img src="https://raw.githubusercontent.com/kalindkaria/typora-md-assets/master/maze_bot/assets/eyrc-header.svg" height="80px"  class="eyrc_ckt">
				</div>
				<div style="font-weight:900;font-size:20px;text-align:center;padding:10px 15px">
					Robotics Competition<br>
					2020-21
				</div>
			</div>
			
		</div>
	</body>
</html>


